@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:...&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


body {
    font-family: 'IBM Plex Mono', monospace;
}

.font-jersey {
    font-family: 'Jersey 10', cursive;
    font-size: x-large
}

